header.headerOxxo
    .container
        .row
            .col-6.col-lg-1.header--logo#header--logo
                
            .col-6.col-lg-10.header--navegacion
                nav.navbar-expand-lg
                    .btn(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        
                    div.collapse.navbar-collapse#navbarNav
                        ul
                        
                            li.li-inicio#li-s1 Inicio
                        
                            li.li-diabetes#li-s3 Diabetes
                        
                            li.li-retinopatia#li-s4 Retinopatía Diabética
                        
                            li.li-ayudar#li-s5 Cómo ayudar
                            