head
    link(rel="preload" href="css/styles.min.css" as="style")
    meta(charset="utf-8")
    link(rel="shortcut icon" href="img/logo.png" type="image/x-icon")
    title OXXO 
    link(rel="stylesheet" href="css/bootstrap.min.css") 
    link(rel="stylesheet" href="css/styles.min.css") 
    script(src="js/jquery-3.4.1.min.js") 
    script(src="js/bootstrap.min.js") 
    script(src="js/modernizr.js") 
    script(src="js/scripts.min.js")
    script(src="js/functionsRuleta.js")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
