doctype
html(lang='es')
	include includes/head.pug

	body
		main.home
			section.header
				.container
					.row 
						.col-12.d-flex.align-items-center.justify-content-center
							img.img-fluid#logo(src="../img/Logo_VLP.png" alt="OXXO")
							img.img-fluid#cohetes(src="../img/Fireworks.png" alt="OXXO")

						.col-12.header--title
							h1 
								b GIRA EL SOMBRERO 
									br
									| Y GANA INCREÍBLES CUPONES.

							h2 RECUERDA QUE SOLO PUEDES PARTICIPAR 4 VECES AL DÍA
 
					.row.header--bases
						.col-12.d-flex.align-items-center.justify-content-center
							img.img-fluid(src="../img/Titulo.png" alt="")

						.col-12 
							ul 
								li GIRA EL SOMBRERO
								li Gana un cupón
								li Descarga y ¡disfruta!

			section.sombrero
				.container
					.row.justify-content-center
						.col-12.col-lg-9

							img.img-fluid#botonGirar(src="../img/Gira.png" alt="")

							.sombrero__ruleta
								img.img-fluid#indicador(src="../img/Señalador.png" alt="")
								img.img-fluid#copa(src="../img/centro.png" alt="")
								img.img-fluid#ala(src="../img/Sombrero.png" alt="")

	
			.modal.fade#modalDefault(tabindex='-1' role='dialog' data-backdrop="static" data-keyboard="false")
				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content

						.modal-body
							h1 
								b ¡TE FALTÓ MUY POCO!
							img.img-fluid.lazoTitle(src="../img/ZIJsHQ.png", alt="OXXO")
							h4 SIGUE INTENTANDO QUE ESE CUPÓN ESPERA POR TI 
							
							img.img-fluid.imgSad(src="../img/sad.png", alt="OXXO")

							h4
								b ¡NO TE RAJES Y SIGUE PROBANDO SUERTE!

							input.boton.primario.btnOn(type="button" value="INTENTAR DE NUEVO" data-dismiss='modal' aria-label='Close')


			.modal.fade#modalCupon(tabindex='-1' role='dialog' data-backdrop="static" data-keyboard="false")
				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content
						
						.modal-body.modal-felicidades
							h1 
								b ¡FELICIDADES!
							
							img.img-fluid.lazoTitle(src="../img/ZIJsHQ.png", alt="OXXO")
							
							h4 GANASTE ESTE CUPÓN PARA ARMAR TU CENA MEXICANA.


							img.img-fluid#cupon(src="../img/cupon.jpeg" alt="")

							img.img-fluid.lazoTitle(src="../img/curva1.png", alt="OXXO")
							h4 
								b REGÍSTRATE Y GRITA ¡VIVAN LAS PROMOS!


							a.linkCupon
								input.btnOn.boton.primario(type="button" value="REGÍSTRATE")

						.modal-body.modal-sesion
							h1 
								b INICIA SESIÓN
							h4 para obtener tu cupón

							.cajaChecks

								.checkboxes#checkboxLegales
									input#checkLegale.checkbox(type='checkbox')
									label.checkmark(for='checkLegale')  
									label.labelLegales#labelLegales(for='checkLegale')
										| Acepto los 
										a(data-target='#modalLegales' data-toggle='modal' data-dismiss="modal") Términos y Condiciones

								.checkboxes#checkboxEdad
									input#checkEdad.checkbox(type='checkbox')
									label.checkmark(for='checkEdad')  
									label.labelLegales#labelEdad(for='checkEdad')
										| Acepto que soy mayor de 18 años

							h6 Tu información es 100% confidencial

							.botonera
								a.linkLogin(href="/cuponera/facebook")
									img.img-fluid(src="https://oxxo-com.s3.amazonaws.com/media-library/08a90345b224d354d5387d186c3304ca.jpg" alt="Oxxo facebook")

								a.linkLogin(href="/cuponera/google")
									img.img-fluid(src="https://oxxo-com.s3.amazonaws.com/media-library/145062d27edf2a870fe1c1eb4dd415d4.jpg" alt="Oxxo google")

						.modal-body.modal-cupon
							h1 
								b Cupón de Doritos

							img.img-fluid#cupon(src="../img/cupon.jpg" alt="")

							p Este es tu cupón, descárgalo, envíalo a tu correo o tómale un screenshot

							.botonera
								input.btnDescarga(type="button" value="Descargar imagen")
								input.btnEnviar(type="button" value="Enviar a mi correo")

							h4 
								b ¡Canjea en tu OXXO favorito y disfruta!

				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content
						.closeModal(type='button' data-dismiss='modal' aria-label='Close')
							img.img-fluid(src="https://oxxo-com.s3.amazonaws.com/media-library/47cb78aefa4753cd42e978980d39b014.png" alt="")

						.modal-body.modal-felicidades
							h1 
								b ¡Felicidades!
							h4 Has ganado un premio especial
							p Tienes 5 minutos para redimir el cupón


							img.img-fluid#cupon(src="../img/cupon.jpg" alt="")

							a.linkCupon
								input.btnOn(type="button" value="Obtener cupón")

						.modal-body.modal-sesion
							.cajaSesion
								h1 Inicia sesión
								h4 para obtener tu cupón

								.checkboxes#checkboxLegales
									input#checkLegale.checkbox(type='checkbox')
									label.checkmark(for='checkLegale')  
									label.labelLegales#labelLegales(for='checkLegale')
										| Acepto los 
										a(data-target='#modalLegales' data-toggle='modal' data-dismiss="modal") Términos y Condiciones

								.checkboxes#checkboxEdad
									input#checkEdad.checkbox(type='checkbox')
									label.checkmark(for='checkEdad')  
									label.labelLegales#labelEdad(for='checkEdad')
										| Acepto que soy mayor de 18 años

								h6 Tu información es 100% confidencial

								.botonera
									a.linkLogin(href="/cuponera/facebook")
										img.img-fluid(src="https://oxxo-com.s3.amazonaws.com/media-library/08a90345b224d354d5387d186c3304ca.jpg" alt="Oxxo facebook")

									a.linkLogin(href="/cuponera/google")
										img.img-fluid(src="https://oxxo-com.s3.amazonaws.com/media-library/145062d27edf2a870fe1c1eb4dd415d4.jpg" alt="Oxxo google")

						.modal-body.modal-cupon
							h1 
								b Cupón de Premio especial

							img.img-fluid#cupon(src="../img/cupon.jpg" alt="")

							p Este es tu cupón, descárgalo, envíalo a tu correo o tómale un screenshot

							.botonera
								input.btnDescarga(type="button" value="Descargar imagen")
								input.btnEnviar(type="button" value="Enviar a mi correo")

							h4 
								b Para canjear tu premio revisa los legales de tu cupón